@import "tailwindcss";

@theme {
  --color-neutral-50: #fafafa;
  --color-neutral-900: #171717;
  --color-rose-500: #f43f5e;
  --color-rose-600: #e11d48;
}

/* Light mode default */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}